#### list
- indexed, ordered, mutable, allows duplicate elements, heterogenous, '[]', 'list()'
#### tuple
- indexes, ordered, **imutable**, allows duplicate elements, heterogenous , '{}', 'set()'
#### dictionary
- **unordered**, mutable, **does not allow duplicate keys**, heterogenous, key:value pairs, '{}', 'dict()'

# list
- creating
- indexing slicing
- methods(11)
- list compeihension

- adding
   - append() - adds an element at the of the list
   - extend() - adds all elements of one list to another lit
   - insert() - adds an element at a specific index

- removing
   - remove()
   - pop()
   - clear()

In [4]:
x=[]
for i in range(10):
    p=input('enter the numbers')
    x.append(p)
print(x)

['12', '123', '13', '23', '23', '243', '43', '234', '234', '24']

In [5]:
x.remove('123')
print(x)

['12', '13', '23', '23', '243', '43', '234', '234', '24']

In [6]:
if '123' in x:
    x.remove('123')
print(x)

['12', '13', '23', '23', '243', '43', '234', '234', '24']

In [7]:
x.remove('456')if '456' in x else print('456 not found')

456 not found

In [8]:
x = [1,2,3,4,5]
print(x.pop())
print(x.pop(2))

5
3

In [9]:
del x

In [10]:
a = [1,1,1,1,2,3,2,3,3,5,5,]

In [1]:
names= ['john', 'tom', 'jerry', 'harry'] 
names.sort()
print(names)

['harry', 'jerry', 'john', 'tom']

In [21]:
list=[0,1]
for i in range(11):
    list.append(list[-2] + list[-1])
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [1]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    s = i**2
    x2.append(s)
print(x)    
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [3]:
name=['peter parker', 'dj', 'ali kashiyap']
fn= []
for i in name:
    fn.append(i.split()[-1])
print(fn)

['parker', 'dj', 'kashiyap']

In [4]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[]
for i in a:
    if i%2==0:
        b.append(i)
print(b)

[2, 4, 6, 8, 10]